@keyframes top {
    from {
        transform: translateX(0px);
    }

    16% {
        transform: translate(125px, 25px);
    }

    32% {
        transform: translate(250px, 50px);
    }

    48% {
        transform: translate(250px, 0px);
    }

    64% {
        transform: translate(125px, 25px);
    }

    to {
        transform: translateX(0px);
    }
}


@keyframes left {
    from {
        transform: translateX(0px);
    }

    16% {
        transform: translate(-125px, -25px);
    }

    32% {
        transform: translate(-250px, -50px);
    }

    48% {
        transform: translate(-250px, 0px);
    }

    64% {
        transform: translate(-125px, -25px);
    }

    to {
        transform: translateX(0px);
    }
}

@keyframes right {
    from {
        transform: translateX(0px);
    }

    16% {
        transform: translate(125px, 25px);
    }

    32% {
        transform: translate(250px, 50px);
    }

    48% {
        transform: translate(250px, 0px);
    }

    64% {
        transform: translate(125px, 25px);
    }

    to {
        transform: translateX(0px);
    }
}

#top
{
    outline: none;
    position: absolute;
    border: none;
    border-radius: 50%;
    top: 10%;
    left: 25%;
    width: 150px;
    height: 150px;
    background-image: url("../../public/img/hello.svg");
    background-size: contain;
    background-position: center; 
    background-repeat: 'no-repeat';
    animation: top 25s linear alternate infinite;
}

#left {
    outline: none;
    position: absolute;
    border: none;
    border-radius: 50%;
    top: 60%;
    left: 35%;
    width: 150px;
    height: 150px;
    background-image: url("../../public/img/btn_valider.svg");
    background-size: contain;
    background-position: center; 
    background-repeat: 'no-repeat';
    animation: left 25s linear alternate infinite;
  }
  
  
  #right {
    outline: none;
    position: absolute;
    border: none;
    border-radius: 50%;
    top: 75%;
    left: 55%;
    width: 150px;
    height: 150px;
    background-image: url("../../public/img/btn_connecter.svg");
    background-size: contain;
    background-position: center; 
    background-repeat: 'no-repeat';
    animation: right 25s linear alternate infinite; 
  
  }